// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/


.splashscreen {
  background-color: #e3bd00!important;
}

ion-spinner svg {
  color: #c80513;
  stroke: #c80513;
  fill: #c80513;
  border-color: #c80513;
}

.content {
  padding-right: 5px;
}

ion-img {
  max-width:100%;
  max-height:100%;
  vertical-align: middle;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #dddddd;
  margin-top:10px;
  margin-bottom:10px;
}

.date-tirage {
  color: #aaaaaa;
  text-align: right;
}

.draw {
  text-align: center;
  margin: 0 auto;
}

.number {
  width: 35px;
  height: 35px;
  border-radius: 5px !important;
  overflow:hidden !important;
  color: #ffffff;
  background-color: #c80513;
  font-size: 20px;
  font-weight: bold;
  line-height: 35px;
  text-align: center;
}

.number-gray {
  width: 35px;
  height: 35px;
  border-radius: 5px !important;
  overflow:hidden !important;
  color: #565556;
  background-color: #dddddd;
  font-size: 20px;
  font-weight: bold;
  line-height: 35px;
  text-align: center;
}

.spiel77 {
  color: #0096cf;
  font-size: 22px;
  font-weight: bold;
}

.logo-game {
  width: 100px;
  height: 25px;
}

.super6 {
  color: #c30062;
  font-size: 22px;
  font-weight: bold;
}

.btn-left {
  width: 120px;
  font-size: 17px !important;
  font-weight: bold !important;
  color: #666 !important;
}

.btn-right {
  width: 120px;
  float: right;
  font-size: 17px !important;
  font-weight: bold !important;
  color: #8a6d3b !important;
}

.layout {
  border-radius: 8px !important;
  overflow:hidden !important;
  border: 1px solid #dddddd !important;
  border-top: 5px solid #dddddd !important;
}

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #e3bd00,
  secondary:  #c7a705,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  gray:       #dddddd
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
